:root {

  /* https://tints.catou.se/palette/v1:cHJpbWFyeXwxMDc4ZjN8NTAwfHB8MHwwfDB8MTAwfGF-c2Vjb25kYXJ5fDEyMWUzMXw5NTB8cHwwfDB8MHwxMDB8YX5kYW5nZXJ8RkY1RDVEfDUwMHxwfDB8MHwwfDEwMHxtfmltcG9ydGFudHxmZjk2NWR8NTAwfHB8MHwwfDB8MTAwfG1-c3VjY2Vzc3w0M2EwNDd8NTAwfHB8MHwwfDB8MTAwfG1-d2FybmluZ3xmZmM4MDB8NTAwfHB8MHwwfDB8MTAwfG1-c3BlY2lhbHw2RDE0RDJ8ODAwfHB8MHwwfDB8MTAwfGF-Z3JheXxmNGY2Zjl8NTB8cHwwfDB8MHwxMDB8YQ */
  --color-primary-50: #ecf0ff;
  --color-primary-100: #dae2ff;
  --color-primary-200: #b6c8fe;
  --color-primary-300: #8cacfe;
  --color-primary-400: #5990fd;
  --color-primary-500: #1078f3;
  --color-primary-600: #0a5ec1;
  --color-primary-700: #064794;
  --color-primary-800: #03316a;
  --color-primary-900: #011a3f;
  --color-primary-950: #00102c;
  --color-secondary-50: #edf1f9;
  --color-secondary-100: #dfe5f5;
  --color-secondary-200: #bacaeb;
  --color-secondary-300: #99b1e1;
  --color-secondary-400: #7599d8;
  --color-secondary-500: #597fbc;
  --color-secondary-600: #48699c;
  --color-secondary-700: #38537d;
  --color-secondary-800: #283c5c;
  --color-secondary-900: #19283f;
  --color-secondary-950: #121e31;
  --color-danger-50: #fff0f0;
  --color-danger-100: #ffe1e1;
  --color-danger-200: #ffc7c7;
  --color-danger-300: #ffa7a7;
  --color-danger-400: #ff8484;
  --color-danger-500: #ff5d5d;
  --color-danger-600: #eb0000;
  --color-danger-700: #b30000;
  --color-danger-800: #7e0000;
  --color-danger-900: #490000;
  --color-danger-950: #310000;
  --color-important-50: #fff4f1;
  --color-important-100: #ffe9e3;
  --color-important-200: #ffd7ca;
  --color-important-300: #ffc1aa;
  --color-important-400: #ffae8b;
  --color-important-500: #ff965d;
  --color-important-600: #da6d00;
  --color-important-700: #a14f00;
  --color-important-800: #6f3400;
  --color-important-900: #3d1a00;
  --color-important-950: #280f00;
  --color-success-50: #dbfcdc;
  --color-success-100: #affab1;
  --color-success-200: #66ec6c;
  --color-success-300: #5ad05f;
  --color-success-400: #4eb853;
  --color-success-500: #43a047;
  --color-success-600: #337e37;
  --color-success-700: #245e27;
  --color-success-800: #174219;
  --color-success-900: #0a250b;
  --color-success-950: #051705;
  --color-warning-50: #fff8ef;
  --color-warning-100: #fff5e7;
  --color-warning-200: #ffe8c3;
  --color-warning-300: #ffdea3;
  --color-warning-400: #ffd47b;
  --color-warning-500: #ffc800;
  --color-warning-600: #c99d00;
  --color-warning-700: #947300;
  --color-warning-800: #614b00;
  --color-warning-900: #362800;
  --color-warning-950: #201600;
  --color-special-50: #f5f2ff;
  --color-special-100: #ebe5fe;
  --color-special-200: #d7cafd;
  --color-special-300: #c5b0fc;
  --color-special-400: #b191fb;
  --color-special-500: #a174fa;
  --color-special-600: #9254f9;
  --color-special-700: #8428f7;
  --color-special-800: #6d14d2;
  --color-special-900: #3a0675;
  --color-special-950: #25034e;
  --color-gray-50: #f8f9fb;
  --color-gray-100: #f4f6f9;
  --color-gray-200: #cfd8e5;
  --color-gray-300: #a8bad2;
  --color-gray-400: #86a0bf;
  --color-gray-500: #6e839d;
  --color-gray-600: #56677c;
  --color-gray-700: #3f4d5d;
  --color-gray-800: #2c3642;
  --color-gray-900: #181e26;
  --color-gray-950: #0d1117;

  --color-link: var(--color-primary-700);
  --color-link-hover: var(--color-primary-600);
  --color-link-visited: var(--color-primary-800);
  --color-link-rgb: var(--color-primary-700-rgb);
  --color-link-hover-rgb: var(--color-primary-600-rgb);
  --color-link-visited-rgb: var(--color-primary-800-rgb);

  --zt-header-bg: var(--color-primary-800);
}
